.card-conteiner{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  width: 23%;
  cursor: pointer;
  box-shadow: 15px 12px 21px -18px #00000057;
  -webkit-box-shadow: 15px 12px 21px -18px rgba(0,0,0,.34);
  -moz-box-shadow: 15px 12px 21px -18px rgba(0,0,0,.34);
  margin-bottom: 20px;
  background: white;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
  
}

.card-conteiner img {
  width: 150px;
  height: 175px;
}

.card-conteiner {
  position: relative;
}

.card-conteiner p {
  font-family: Rajdhani-Bold;
  color: #000000;
}
.card-conteiner h4{
  font-size: 100%;
  padding-top: 10px;
  padding-bottom: 4px;
  color:#000000
}

.card-conteiner button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  left: 13rem;
  top: 1rem;
  background: #e62143;
  border-radius: 11px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-family: Mija, -apple-system, BlinkMacSystemFont, Roboto, "Roboto Slab",
    "Droid Serif", "Segoe UI", system-ui, Arial, sans-serif;
  font-size: 1.15em;
  justify-content: center;
  padding: 0.1rem 1rem;
  text-align: center;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  text-shadow: rgba(0, 0, 0, 0.3) 1px 1px 1px;
  text-underline-offset: 1px;
  transition: all 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 2.4Srem;
  height: 2rem;
  word-break: break-word;
  border: 0;
}

.card-details{
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
